@model IEnumerable<LeaveTypeDto>

@{
	ViewData["Title"] = "Leave type list";
}

<h1>Leave type list</h1>

<p>
	<a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
</p>
<table id="dataTable" class="col-12">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DefaultDays)
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DefaultDays)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
					<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
					<a data-id="@item.Id" class="btn btn-danger deleteBtn"><i class="fa-regular fa-trash-can"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

<form asp-action="Delete" id="deleteForm">
	<input type="hidden" id="leaveTypeid" name="Id" />
</form>

@section Scripts{
	<script>
		$(function () {
			$('#dataTable').DataTable();

			$('.deleteBtn').click(function (e) {
				swal({
					title: "Are you sure?",
					text: "Are you sure you want to delete this record?",
					icon: "warning",
					buttons: true,
					dangerMode: true
				}).then((confirm) => {
					if (confirm) {
						let btn = $(this);
						let id = btn.data("id");
						$('#leaveTypeid').val(id);
						$('#deleteForm').submit();
					}
				});
			});
		});
	</script>
}
